.nav-toolbar {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

mat-button-toggle-group {
  display: flex;
  gap: 1rem;
}

.active-link {
  font-weight: bold;
  color: white !important;
  background-color: #303f9f !important;
}

mat-pseudo-checkbox {
  color: white !important;
}
